nabla/core/etl/model/xml/src/main/resources/A_XML_ProductHeader/A_XML_productHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:nabla:A_XML_ProductHeader:1_0_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:GEN="urn:nabla:A_XML_TradingGeneric:1_0_0" xmlns:PHD="urn:nabla:A_XML_ProductHeader:1_0_0"
	xmlns:REF="urn:nabla:A_XML_ReferentialGeneric:1_0_0" xmlns:TRD="urn:nabla:A_XML_Trade:1_0_0"
	xmlns:TPI="urn:nabla:A_XML_TradePartyInfo:1_0_0" xmlns:TPY="urn:nabla:A_XML_TradePayment:1_0_0"
	xmlns:TCD="urn:nabla:A_XML_TradeConditions:1_0_0" xmlns:PTY="urn:nabla:A_XML_TradingParty:1_0_0"
	xmlns:THD="urn:nabla:A_XML_TradeHeader:1_0_0" xmlns:INS="urn:nabla:A_XML_InstrumentService:1_0_0">
	
	<!-- *********************************************** -->
	<!--Version Of The Package -->
	<xs:annotation>
		<xs:documentation>
			<package name="A_XML_ProductHeader" mnemonic="PHD" version="1.0.0" />
		</xs:documentation>
	</xs:annotation>
	<!-- *********************************************** -->
	<!--Include shared elements -->
	<xs:import namespace="urn:nabla:A_XML_ReferentialGeneric:1_0_0"
		schemaLocation="../A_XML_Generic/A_XML_referential_generic.xsd" />
	<xs:import namespace="urn:nabla:A_XML_TradingGeneric:1_0_0"
		schemaLocation="../A_XML_TradingGeneric/A_XML_trading_generic.xsd" />
	<xs:include schemaLocation="./A_XML_productHeader_scheme.xsd" />
	<!-- ************************************************ -->
	<!-- *** Domain : Product : Complex types *** -->
	<xs:complexType name="XML_LinkProductIdentifier">
		<xs:sequence>
			<xs:element name="linkedProductId" type="REF:XML_Id">
				<xs:annotation>
					<xs:documentation>
						<definition>link to a product identifier</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ObservableIdentifier">
		<xs:annotation>
			<xs:documentation>
				<definition>Container that holds the minimum set of information to
					identify and process an observable. Currently defined as an id or a
					Reference (Technical pointer).
				</definition>
				<example>Fp an option where a CAC 40 value will trigger some sort of
					payment, the CAC40 is the observable.</example>
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="PHD:observableId" />
			<xs:element ref="PHD:observableReference" />
		</xs:choice>
	</xs:complexType>
	<!-- <xs:complexType name="XML_ProductCommercialTypology"> <xs:sequence> 
		<xs:element ref="PHD:productCategoryCode" /> <xs:element ref="PHD:productSubCategoryCode" 
		minOccurs="0" /> <xs:element name="productTypeCode" type="REF:XML_Code"> 
		<xs:annotation> <xs:documentation> <definition>product commercial typology</definition> 
		</xs:documentation> </xs:annotation> </xs:element> <xs:element ref="PHD:productTypeName" 
		minOccurs="0" /> </xs:sequence> </xs:complexType> -->
	<xs:complexType name="XML_ProductDates">
		<xs:annotation>
			<xs:documentation>
				<definition>Container for the generic dates that can be found on
					most products. Some of those dates are optional since thay may not
					not be applicable to all products.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Start date of the product - correspond to effective
							beginning of product life</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveMaturityDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Effective End date of the product or Expiration Date
							of an option if early termination of the product</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturityDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>End date of the product or Expiration Date of an
							option - known at productInput Date</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturityDateType" type="PHD:maturityDateTypeScheme">
				<xs:annotation>
					<xs:documentation>
						<definition>The type defining the maturityDate element. This type
							may be one of several values: fixed, open, theoretical</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:complexType name="XML_ProductGroupTypology"> <xs:sequence> <xs:element 
		name="productNatureGroupCode" type="REF:XML_Code" minOccurs="0"> <xs:annotation> 
		<xs:documentation> <definition>DEVL nature code for the group</definition> 
		</xs:documentation> </xs:annotation> </xs:element> <xs:element ref="PHD:productGroupCode" 
		minOccurs="0" /> </xs:sequence> </xs:complexType> -->
	<xs:complexType name="XML_ProductHeader">
		<xs:sequence>
			<xs:element name="productIdentifier" type="PHD:XML_ProductIdentifier"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>This element uniquely identifies a versioned product. </definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productInfo" type="PHD:XML_ProductInfo"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>This element contains the basic information on a
							product that will help transversal functions in the processing of
							a product.
						</definition>
						<domain>Product Description</domain>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productStructureReference" type="REF:XML_Reference"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>product Structure reference</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductIdentifier">
		<xs:sequence>
			<xs:element name="productId" type="REF:XML_Id">
				<xs:annotation>
					<xs:documentation>
						<definition>Unique identifier of a product.</definition>
						<idScheme>Must be a valid idScheme among the liste of available
							idSchemes. i.e. share for share listed instruments. For market
							data attached to product, the same idScheme MUST be used when
							sending the productId as part of the static definition and the
							productId as part of the market data model. Contact
							ITEC-CRS-DMS-DAS in case of doubts</idScheme>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productVersion" type="PHD:XML_ProductVersion"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>The date range over which a version is valid together
							with a version number. There may be several version within a day
							and therefore the date range of the version uses timestamps.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productCode" type="REF:XML_Code"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>Product Codification for other Referentials that
							manage the same product</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productLinkIdentifier" type="PHD:XML_LinkProductIdentifier"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>define product link for product generated after
							another product (like option Exercise)</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductInfo">
		<xs:annotation>
			<xs:documentation>
				<definition>This element contains the basic information on a product
					that will help transversal functions in the processing of a
					product.
				</definition>
				<domain>Product Description</domain>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- <xs:element ref="PHD:productMnemonic" minOccurs="0"/> -->
			<xs:element ref="PHD:productShortName" />
			<xs:element ref="PHD:productName" minOccurs="0" />
			<xs:element name="productDates" type="PHD:XML_ProductDates"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Countainer for the generic dates that can be found on
							most products. Some of those dates are optional since thay may
							not not be applicable to all products.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PHD:productReferenceQuantity" />
			<xs:element name="productReferenceParty" type="PHD:XML_ProductReferenceParty"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>Identification of a reference party for this product.
							The identification may be through an Id or through a reference
							(Technical pointer) to a party description that may be else where
							in the message. For example in the detailed product description.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductInternalTypology">
		<xs:sequence>
			<xs:element ref="REF:productFamilyMnemonic" minOccurs="0" />
			<xs:element ref="REF:productSubFamilyMnemonic" minOccurs="0" />
			<xs:element ref="REF:tradeTypeMnemonic" minOccurs="0" />
			<xs:element name="tradeTypeCode" type="REF:XML_Code"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Trade type code.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductReferenceParty">
		<xs:annotation>
			<xs:documentation>
				<definition>Identification of a reference party for this product.
					The identification may be through an Id or through a reference
					(Technical pointer) to a party description that may be else where
					in the message. For example in the detailed product description.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="productPartyReference" type="REF:XML_Reference">
					<xs:annotation>
						<xs:documentation>
							<definition>A reference (Pointer) to the definition of the party.
								This description will be found in the full product description.
								To be Defined</definition>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="productPartyId" type="REF:XML_Id">
					<xs:annotation>
						<xs:documentation>
							<definition>A Unique Id of the party. This description will be
								found in the full product description. To be Defined</definition>
							<idScheme>party</idScheme>
							<id>ID value</id>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="productPartyRole" type="PHD:productPartyRoleScheme">
				<xs:annotation>
					<xs:documentation>
						<definition>The role that the party has in the description of the
							product.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductSpecificTypology">
		<xs:sequence>
			<xs:element ref="PHD:productSpecificFamilyCode" minOccurs="0" />
			<xs:element ref="PHD:productSpecificTypeCode" minOccurs="0" />
			<xs:element ref="PHD:productSpecificSubTypeCode"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductStructureTypology">
		<xs:sequence>
			<!-- <xs:element ref="PHD:productClass"/> -->
			<xs:element ref="PHD:productStructureType" />
			<xs:element ref="PHD:productStructureSubTypeCode"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductTypologyInfo">
		<xs:annotation>
			<xs:documentation>
				<definition>This element is the place where we store and send the
					different typologies in the header. This header caries both the
					current versions of the different typologies and the target
					version.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- <xs:element ref="PHD:productLegalWrapperTypeCode" minOccurs="0"/> 
				<xs:element ref="PHD:productFinancialStructureTypeCode" minOccurs="0" /> -->
			<xs:element name="productStructureTypology" type="PHD:XML_ProductStructureTypology"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>current structure typology</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ProductVersion">
		<xs:sequence>
			<xs:element name="versionNumber" type="xs:string" />
			<xs:element name="validityDatetimeRange" type="REF:XML_DatetimeRange"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Timerange range during which the entity is valid.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productVersionCreationTimestamp" type="xs:dateTime"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>The creation timestamp of a version .</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ReferentialInstrumentTypology">
		<xs:sequence>
			<xs:element name="instrumentCategory" type="REF:instrumentCategoryScheme"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Instrument Category. High level classification of the
							financial instrument.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instrumentTypeCode" type="REF:XML_Code"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Indicates the type of instrument within the category.
							This is a finer classification than the instrument category.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ************************************************ -->
	<!-- *** Domain : Product : Ids *** -->
	<!-- ********************************************** -->
	<!-- *** Domain : Product : Elements *** -->
	<xs:element name="observableId" type="REF:XML_Id">
		<xs:annotation>
			<xs:documentation>
				<definition>Uniq identifier of the instrument/product/ that will
					have an influence on the valuation of the product. The observable
					type will describe the type of observable. This is a variable that
					will condition the optional conditions of an optoin for example.</definition>
				<idScheme>observable</idScheme>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="observableReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>reference (Pointer) to the description of an observable.
					This points at a description that is held in the detailed
					description of the product.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productCategoryCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>Business category - productClass specific</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- <xs:element name="productClass" type="PHD:productClassScheme"> <xs:annotation> 
		<xs:documentation> <definition>High-level product Class</definition> <samples>bond,ird,creder,fx...</samples> 
		</xs:documentation> </xs:annotation> </xs:element> <xs:element name="productComplexity" 
		type="PHD:productComplexityScheme"> <xs:annotation> <xs:documentation> <definition>Exotic, 
		Semi-exotic or Vanilla category of the product</definition> </xs:documentation> 
		</xs:annotation> </xs:element> -->
	<xs:element name="productGroupCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>product DEVL code for the group</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- <xs:element name="productGroupTypology" type="PHD:A_XML_ProductGroupTypology"> 
		<xs:annotation> <xs:documentation> <definition>TRANSITORY: product group 
		typology (from DEVL nomenclature) - used by RISK applications for example.</definition> 
		</xs:documentation> </xs:annotation> </xs:element> -->
	<xs:element name="productIdentifier" type="PHD:XML_ProductIdentifier">
		<xs:annotation>
			<xs:documentation>
				<definition>Product Identifiers (one by application if necessary) -
					optional if product creation</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productName" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>A long description of the product.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productShortName" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>Each product should have a name. In some cases this name
					will be constructed automatically from some characteristics of the
					product. In other cases this name is keyed in specifically for this
					product.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productReferenceQuantity" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>
				<definition>Nominal quantity of reference for this product. This
					quantity is used as a ratio with the quantity specified in the
					associated trade to derive the total quantity involved in the
					trade. This is filled by convention for each type of product. For
					the example the nominal value of the product.</definition>
				<example>For a Bond this is the nominal of the Bond.</example>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productSpecificFamilyCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>specific product family depending of productClass (fx,
					ird, bond...). This definition belongs to a specific business line.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productSpecificSubTypeCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>Specific product subtype depending of productClass (fx,
					ird, bond...). The content of this item is specific to a business
					line.</definition>
				<example>PEUIW=FXO Put European with with Up and In trigger Window</example>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productSpecificTypeCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>specific product type depending of productClass (fx,
					ird, bond...). The content of this item is specific to a business
					line.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productStartDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>
				<definition>Start date ofthe product - corresponds to first
					tradeDate on a product</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productStructureType" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>Type of product structure element as defined in FPML
					nomenclature:
					swap, fxSwap, fxSingleLeg... - to be specialized for
					each productClass -
					can be "productStructureSet"</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productStructureSubTypeCode" type="REF:XML_Code" />
	<!-- <xs:element name="productSubCategoryCode" type="REF:XML_Code"> <xs:annotation> 
		<xs:documentation> <definition>Business sub-category - productClass specific</definition> 
		</xs:documentation> </xs:annotation> </xs:element> <xs:element name="productFinancialStructureTypeCode" 
		type="REF:XML_Code"> <xs:annotation> <xs:documentation> <definition>TARGET: 
		This is the finer type of the financial structure of a product.(equivalent 
		to "PayOff" type deai notion</definition> </xs:documentation> </xs:annotation> 
		</xs:element> <xs:element name="productTypology" type="PHD:XML_ProductTypologyInfo"> 
		<xs:annotation> <xs:documentation> <definition>This element is the place 
		where we store and send the different typologies in the header. This header 
		caries both the current versions of the different typologies and the target 
		version.</definition> </xs:documentation> </xs:annotation> </xs:element> -->
	<xs:element name="productTypeName" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>Name of the product Type - productClass specific</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productValuationCurrency" type="REF:currencyScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>Default valuation currency as attached to the product. A
					valuation application may decide to use another currency for its
					own reasons.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ************************************************ -->
	<!-- *** Domain : Product : Root element *** -->
	<!-- ********************************************** -->
	<xs:element name="productHeader" type="PHD:XML_ProductHeader">
		<xs:annotation>
			<xs:documentation>
				<definition>Product generic parameters</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
