nabla/core/etl/model/xml/src/main/resources/A_XML_Generic/A_XML_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:nabla:A_XML_ReferentialGeneric:1_0_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:GEN="urn:nabla:A_XML_TradingGeneric:1_0_0" xmlns:PHD="urn:nabla:A_XML_ProductHeader:1_0_0"
	xmlns:REF="urn:nabla:A_XML_ReferentialGeneric:1_0_0" xmlns:TRD="urn:nabla:A_XML_Trade:1_0_0"
	xmlns:TPI="urn:nabla:A_XML_TradePartyInfo:1_0_0" xmlns:TPY="urn:nabla:A_XML_TradePayment:1_0_0"
	xmlns:TCD="urn:nabla:A_XML_TradeConditions:1_0_0" xmlns:PTY="urn:nabla:A_XML_TradingParty:1_0_0"
	xmlns:THD="urn:nabla:A_XML_TradeHeader:1_0_0" xmlns:INS="urn:nabla:A_XML_InstrumentService:1_0_0">
	<xs:annotation>
		<xs:documentation>************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:appinfo source="XML">
			<package>
				<name>Data/Generic</name>
				<version>1.0.0</version>
				<prefix>REF</prefix>
			</package>
		</xs:appinfo>
		<xs:documentation>packageVersion</xs:documentation>
	</xs:annotation>
	<!-- *********************************************** -->
	<!--Version Of The Package -->
	<xs:annotation>
		<xs:documentation>
			<package name="A_XML_ReferentialGeneric" mnemonic="REF"
				version="1.0.0" />
		</xs:documentation>
	</xs:annotation>
	<!-- *********************************************** -->
	<!-- *** Static lists *** -->
	<xs:simpleType name="yesNoScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>Two normalized values Y/N. Can be used for those who do
					not want to use boolean.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>This is the scheme identifying country entity.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:minLength value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="currencyScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>This is the scheme identifying currency.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:minLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************* -->
	<!-- *** Generic types *** -->
	<xs:complexType name="XML_Reference">
		<xs:attributeGroup ref="REF:XML_Reference" />
	</xs:complexType>
	<xs:complexType name="XML_Amount">
		<xs:annotation>
			<xs:documentation>
				<definition>This complex type is only used when we need to define an
					amount without a currency. In general always prefer to
					use the
					A_XML_Money complex type. In some cases there will be many
					amounts
					with the same currency and in those cases it is OK to
					mutualise the
					curreny in one element and define many amounts with
					this type.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="XML_DoubleAmount">
		<xs:simpleContent>
			<xs:extension base="xs:double" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="XML_Id">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of an absolute identifer </definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Unique Identifier value</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idScheme" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Unique identifier scheme for each entity.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_IdWithMnemonic">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of an absolute identifier</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Unique Identifier value</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idScheme" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Unique identifier scheme for each entity.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mnemonic" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>The mnemonic is a "easy to remember" string to
							uniquely identifies an entity pointed by this mnemonic. This is
							not the official id. The offcial Id of an entity is to be found
							in the id element of the A_XML_Id complexType.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>Codification different from Identification</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codingScheme" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Standard Scheme (ISO-4217 for Currency) or SG
							repository (Matrix, BDR) or Coding Scheme name
							(negociationStatusScheme)</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Codification Value</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_CodeWithMnemonic">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of an absolute identifer</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="REF:XML_Code">
				<xs:sequence minOccurs="0">
					<xs:element name="mnemonic" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<definition>The mnemonic is a "easy to remember" string to
									uniquely identifies an entity pointed by this mnemonic. This is
									not the official id. The offcial Id of an entity is to be found
									in the id element of the A_XML_Id complexType.</definition>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XML_Comment">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of a structure of comments. Contains both a
					free text part (CommentInfo) and a free text place where to define
					wome indication of who originated the comment.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="commentSource" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Source of comment : Sales, FO, MO, BO, ...</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commentInfo" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Text of comment</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_Version">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of versionning. It allows to specify a
					version between two business dates. To specify un version with a
					finer time granularity, use A_XML_DatetimeVersion</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="versionNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Version number of an entity.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityDateRange" type="REF:XML_DateRange"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Date range during which the entity is valid.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_DatetimeVersion">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of versionning. It allows to specify a
					version between two timestamp. To specify a version with business
					dates validity, use A_XML_ersion</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="versionNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Version number of an entity.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityDatetimeRange" type="REF:XML_DatetimeRange"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Timerange range during which the entity is valid.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_DateRange">
		<xs:annotation>
			<xs:documentation>
				<definition>Structure defining a contiguous series of calendar
					dates. The date range is defined as all the dates between and
					including the first and the last date. The first date must fall
					before the last date.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>First date in a date range</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Last date in a date range</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_DatetimeRange">
		<xs:annotation>
			<xs:documentation>
				<definition>Structure defining a time range. A time range is defined
					between two time stamps. Both time endpoints are included in the
					rage by default. To exclude one of both endpoint, clearly specify
					this in the definition of the element using this complex type.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startTimestamp" type="xs:dateTime"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>First timedate time range</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endTimestamp" type="xs:dateTime"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Last timedate in a time range</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_Money">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of a money amount.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>
						<definition>Value of a money amount.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="REF:currencyScheme">
				<xs:annotation>
					<xs:documentation>
						<definition>Currency of a money amount.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_DoubleMoney">
		<xs:annotation>
			<xs:documentation>
				<definition>Definition of a money amount.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount" type="xs:double">
				<xs:annotation>
					<xs:documentation>
						<definition>Value of a money amount.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="REF:currencyScheme">
				<xs:annotation>
					<xs:documentation>
						<definition>Currency of a money amount.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="XML_Value">
		<xs:annotation>
			<xs:documentation>
				<definition>Reference Value Type.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal" />
	</xs:simpleType>
	<xs:simpleType name="XML_Percentage">
		<xs:annotation>
			<xs:documentation>
				<definition>Used to specify a Percentage value. Percentages are
					formated as 0.05 meaning 5%</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal" />
	</xs:simpleType>
	<xs:simpleType name="XML_BasisPoint">
		<xs:annotation>
			<xs:documentation>
				<definition>Used to specify that a value is expressed as basis
					point.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************* -->
	<!-- *** Message types *** -->
	<xs:simpleType name="eventTypeScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>Create: the event relates to an entity creation
					Modify:
					the event relates to the modification of any element (except lists
					of referenced or aggregated entities) to an entity
					Delete: the event
					relates to the deletion of an entity
					CreateLink: the element relates
					to the addition of a referenced or aggregated
					entity in a list
					ModifyLink: the element relates to the modification of any element
					of an
					aggregated entity in a list
					DeleteLink: the element relates to
					the deletion of a referenced or aggregated
					entity in a list</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Create" />
			<xs:enumeration value="Modify" />
			<xs:enumeration value="Delete" />
			<xs:enumeration value="CreateLink" />
			<xs:enumeration value="ModifyLink" />
			<xs:enumeration value="DeleteLink" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="XML_EventSet">
		<xs:annotation>
			<xs:documentation>
				<definition>Repetitive sequence: one occurence for each event that
					occured in the same Database transaction</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="event" type="REF:XML_Event" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>Contains the description of a specific event that
							impacted the message</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_Event">
		<xs:annotation>
			<xs:documentation>
				<definition>This complex type is used to describe an event that took
					place between the previous publication of an entity and the
					publication in which the event is published.</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eventType" type="REF:eventTypeScheme">
				<xs:annotation>
					<xs:documentation>
						<definition>Type of the event. Can be an event on the message main
							elements or an event on a list contained in the message.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="impactLocator" type="REF:XML_ImpactLocator"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>Container of info allowing to identify the entity
							impacted by the event. Depending on the event type, the impact
							can be on the entity itself or on one item in an embedded list of
							referenced or aggregated entities.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ImpactLocator">
		<xs:annotation>
			<xs:documentation>
				<definition>Info allowing to identify the entity impacted by the
					event. Depending on the event type, the impact can be on the entity
					itself or on one item in an embedded list of referenced or
					aggregated entities</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="impactId" type="REF:XML_Id">
				<xs:annotation>
					<xs:documentation>
						<definition>The unique identifier of the impacted entity. This is
							the identifier of the entity itself if the event type is
							'Create', 'Modify' or 'Delete'. It is the unique identifier of
							the added list element if the event is "CreateLink", the unique
							identifier of the updated list element if the event is
							"ModifyLink" (note: this cas is possible only if the impacted
							item is an entity containing more that an identifier and fully
							aggregated in the entity), the unique identifier of the deleted
							list element if the event is "DeleteLink". This information is
							only needed if the event impacts a list of referenced or
							aggregated NDM entities</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="listName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>In case of 'CreateLink', 'ModifyLink' or 'DeleteLink',
							this element contains the unambiguous name of the entity element
							representing the list container. If this list container name is
							ambiguous (e.g. multiple occurences of the same list in the
							entity), then the element name is prefixed to provide an
							unambiguous reference to the list.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parentListName" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>In case of 'CreateLink', 'ModifyLink' or 'DeleteLink',
							this element contains the unambiguous name of the entity element
							representing the parent list name of the impacted list container.
						</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ********************************************* -->
	<!-- *** Services (request/reply) types *** -->
	<xs:complexType name="XML_Exception">
		<xs:annotation>
			<xs:documentation>
				<definition>Reply Exception description</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="exceptionLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Label of exception</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exceptionCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Codification of exception</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--*** Common Group attribute - should be rename in A_XML version *** -->
	<xs:attributeGroup name="XML_Reference">
		<xs:attribute name="href" type="xs:IDREF" use="required" />
	</xs:attributeGroup>
	<xs:attributeGroup name="XML_Id">
		<xs:attribute name="id" type="xs:ID" use="required" />
	</xs:attributeGroup>
	<xs:attributeGroup name="XML_OptionalId">
		<xs:attribute name="id" type="xs:ID" use="optional" />
	</xs:attributeGroup>
</xs:schema>
