nabla/core/etl/model/xml/src/main/resources/A_XML_TradingGeneric/A_XML_trading_generic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:nabla:A_XML_TradingGeneric:1_0_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
		xmlns:GEN="urn:nabla:A_XML_TradingGeneric:1_0_0" xmlns:PHD="urn:nabla:A_XML_ProductHeader:1_0_0"
	xmlns:REF="urn:nabla:A_XML_ReferentialGeneric:1_0_0" xmlns:TRD="urn:nabla:A_XML_Trade:1_0_0"
	xmlns:TPI="urn:nabla:A_XML_TradePartyInfo:1_0_0" xmlns:TPY="urn:nabla:A_XML_TradePayment:1_0_0"
	xmlns:TCD="urn:nabla:A_XML_TradeConditions:1_0_0" xmlns:PTY="urn:nabla:A_XML_TradingParty:1_0_0"
	xmlns:THD="urn:nabla:A_XML_TradeHeader:1_0_0" xmlns:INS="urn:nabla:A_XML_InstrumentService:1_0_0">
	
	<!--Core Generic Data for trading entities (trade, product, contract, event...) -->
	<!-- *********************************************** -->
	<!--Version Of The Package -->
	<xs:annotation>
		<xs:documentation>
			<package name="XML_TradingGeneric" mnemonic="GEN" version="1.0.0" />
		</xs:documentation>
	</xs:annotation>
	<!-- *********************************************** -->
	<!--Include XML common types -->
	<!--Include Shared Schemes -->
	<xs:include schemaLocation="A_XML_trading_generic_scheme.xsd" />
	<!--<xs:import namespace="urn:nabla:A_XML_ReferentialGeneric:1_0_0" schemaLocation="../A_XML_Generic/A_XML_referential_generic.xsd" 
		/> -->
	<xs:import namespace="urn:nabla:A_XML_ReferentialGeneric:1_0_0"
		schemaLocation="../A_XML_Generic/A_XML_types.xsd" />
	<!-- *********************************************** -->
	<!--Common reference -->
	<xs:simpleType name="XML_InputOriginTypeScheme">
		<xs:restriction base="xs:string">
			<xs:enumeration value="User" />
			<xs:enumeration value="System" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="partyReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>A pointer style reference to a party identifier
					defined
					elsewhere in the document. The party
					referenced has allocated the
					trade identifier.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>Internal pointer to a product</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--*** Shared complexTypes *** -->
	<!-- *********************************************** -->
	<!--*** Shared complexTypes *** -->
	<xs:complexType name="XML_ProductId">
		<xs:annotation>
			<xs:documentation>
				<definition>A product identifier allocated by an application</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="REF:XML_Id" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XML_StandardDuration">
		<xs:annotation>
			<xs:documentation>
				<definition>The standard duration in French which belongs to the
					standard duration scope of the interest rate category. equivalent
					to "interestRateMarurityCode" element
				</definition>
				<codingScheme>BDR</codingScheme>
				<mapping>code = BDR.TTAUREFBDR.CODDURSTDTAU</mapping>
				<format>10</format>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="REF:XML_Code" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XML_PortfolioId">
		<xs:annotation>
			<xs:documentation>
				<definition>DEFI Portfolio identifier</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="REF:XML_Id" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XML_UserInfo">
		<xs:annotation>
			<xs:documentation>
				<definition>Informations to identify a user</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="REF:userId" />
			<!--<xs:element ref="GEN:userFullName" minOccurs="0"/> -->
		</xs:sequence>
	</xs:complexType>
	<!-- *********************************************** -->
	<!--*** Orginal FPML elemnts for specific identification (ONLY FOR FPML 
		USE - NOT USED IN DEFIML) *** -->
	<!-- *********************************************** -->
	<!--*** FPML shared elements *** -->
	<xs:element name="amount" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>
				<definition>The monetary quantity in currency units.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buyer" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>The buyer of the option</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buyerPartyReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>A pointer style reference to a party identifier defined
					elsewhere in
					the document. The party referenced is the buyer of the
					product.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="documentation" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>Defines the definitions that govern the document and
					should include the year and type of
					definitions referenced, along
					with any relevant documentation (such as master
					agreement)
					and the
					date it was signed.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="expirationDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>The last day within an exercise period for an American
					style option.
					For a European style option it is the only day within
					the exercise
					period.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="expirationTime" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>The latest time for exercise on expirationDate.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="informationSource" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>The information source where a published or
					displayed
					market rate will be obtained, e.g.
					Telerate Page 3750.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paymentDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>
				<definition>The payment date. This date is subject to
					adjustment in
					accordance with any applicable
					business day convention.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paymentAmount" type="REF:XML_Money">
		<xs:annotation>
			<xs:documentation>
				<definition>The currency amount of the payment.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="payerPartyReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>A pointer style reference to a party identifier defined
					elsewhere in the document.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productId" type="REF:XML_Id">
		<xs:annotation>
			<xs:documentation>
				<definition>A product identifier in the master referential that
					manage the product</definition>
				<idScheme>xxxProduct</idScheme>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productTypeCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>type of product (leaf of business classification) -
					specific to a productClass</definition>
				<codingScheme>defiCommercialTypology</codingScheme>
				<origin>FPML productType element</origin>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="receiverPartyReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>A pointer style reference to a party that receive a flow
					(cash or commodities)</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="receiverPartyTradeRole" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>Trade Role of the party that receive a flow (cash or
					commodities)</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="referenceBank" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>An institution (party) identified by means of a
					coding
					scheme and an optional name.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="referenceBankId" type="REF:XML_Id">
		<xs:annotation>
			<xs:documentation>
				<definition>An institution (party) identifier, e.g. a bank.</definition>
				<idScheme>party</idScheme>
				<origin>FPML referencebankId</origin>
				<mapping>TCLIBDR.CODTRS</mapping>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="referenceBankName" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				<definition>The name of the institution (party). A free format
					string. FpML does not define usage rules for the
					element.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="seller" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>The party that has sold.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sellerPartyReference" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>A pointer style reference to a party identifier
					defined
					elsewhere in the document. The party
					referenced is the seller of the
					product</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="settlementCurrency" type="REF:currencyScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>The currency in which a cash settlement for
					non-deliverable forward and non-deliverable
					options.

				</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="strikeRate" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>
				<definition>The rate for a cap or floor.</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *********************************************** -->
	<!--*** DEFIML shared elements *** -->
	<xs:element name="partyTradeRole" type="GEN:XML_PartyTradeRoleScheme">
		<xs:annotation>
			<xs:documentation>
				<definition>Role of the partyin the trade (Buyer/Seller) -- to
					reference a party in the product by their role</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paymentFlowId" type="REF:XML_Id">
		<xs:annotation>
			<xs:documentation>
				<definition>internal identifier of the payment flow - used by
					settlement systems</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productSubTypeCode" type="REF:XML_Code">
		<xs:annotation>
			<xs:documentation>
				<definition>A codification of the subtype of product - specific to
					product chain</definition>
				<codingScheme>TAU,TRE,CTY</codingScheme>
				<origin>FPML productType element</origin>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="valueDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>
				<definition>The value date of an exchanged flow - the data at which
					the exchange must be effective</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *************************************************************************************************** -->
	<!--Generic Data for trading entities (trade, product, contract, event...) -->
	<!-- *************************************************************************************************** -->
	<!--Used in Settlement -->
	<!-- *********************************************** -->
	<!--Used in PositionValuation, ActivityEvent, Product -->
	<xs:complexType name="XML_EventDates">
		<xs:sequence>
			<xs:element name="eventNoticingDateRange" type="GEN:XML_EventDateRange">
				<xs:annotation>
					<xs:documentation>
						<definition>date or range of dates at which the event is noticed
							or observed</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventCreationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>
						<definition>creation date of the event in the system</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventValueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>
						<definition>adjusted event value date (correspond to
							settlement/delivery date for a trade)</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unadjustedEventValueDate" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>the unadjusted event value date at which the product
							is delivered that allow adjusted event value date calculation</definition>
					</xs:documentation>
					<xs:documentation>
						<definition>the value date at which the product is delivered</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--FpML_AdjustableDate -->
	<xs:complexType name="XML_EventDateRange">
		<xs:sequence>
			<xs:element name="eventStartDate" type="xs:date"
				minOccurs="0" />
			<xs:element name="eventEndDate" type="xs:date" />
		</xs:sequence>
	</xs:complexType>
	<!-- *********************************************** Brokerage and PaymentDetail 
		info: -->
	<!--Used in ActivityEvent, Trade -->
	<xs:complexType name="XML_Accounting">
		<xs:annotation>
			<xs:documentation>
				<definition>accounting information</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="accountingEligibilityIndicator" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Boolean flag which is set to true when the payment is
							eligible to accounting treatment</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountingStatus" type="GEN:XML_AccountingStatusScheme"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Manage the status of the accounting treatment related
							to the payment
						</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executionReportCode" type="REF:XML_Code"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Identifier of an execution report due to an accounting
							event</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_BrokerageInfo">
		<xs:sequence>
			<xs:element name="brokerageType" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>For brokerage payments, specifies the type of
							brokerage</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specificBrokerageReason" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>For brokerage payments specifies the reason of the
							brokerage.
						</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="brokerageSchedule" type="xs:decimal"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Decimal value which describes the brokerage schedule
							("barême de courtage" in french)</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_PaymentDetail">
		<xs:sequence>
			<xs:element name="paidIndicator" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Boolean flag which is set to true when the payment is
							paid</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelPaymentIndicator" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>the payment can be canceled. We have to keep the
							information, because the payment may be accounted and after
							canceled.</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="invoiceDocumentCode" type="REF:XML_Code"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>Identifier of the "payment document"</definition>
						<codingScheme>ApplicationId</codingScheme>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountingInfo" type="GEN:XML_Accounting"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>contains everything about the accounting of the
							payment</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- *********************************************** Audit informations: -->
	<xs:complexType name="XML_ContactIdentifier">
		<xs:sequence>
			<xs:element name="contactCode" type="REF:XML_Code"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>contact codification</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>contact Name</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_ContactAddress">
		<xs:sequence>
			<xs:element name="detailedAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<definition>Can be a number, a string, an id, ...depend on the
							media type</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_PartyContact">
		<xs:annotation>
			<xs:documentation>
				<definition>Informations to identify an external contact</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactIdentifier" type="GEN:XML_ContactIdentifier">
				<xs:annotation>
					<xs:documentation>
						<definition>indicates an external person who can be contacted by
							us</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactAddress" type="GEN:XML_ContactAddress"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<definition>available addresses to use for a given media</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XML_InputInfo">
		<xs:sequence>
			<xs:element ref="GEN:inputUserIdentifier" minOccurs="0" />
			<xs:element name="inputTimeStamp" type="xs:dateTime"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>last input trade date/time (creation or modification)</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inputOriginType" type="GEN:XML_InputOriginTypeScheme"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<definition>origin of trade input : user, system...</definition>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- *********************************************** Audit informations: -->
	<!--*** generic elements *** -->
	<!--Used in Contract, Trade, Settlement -->
	<xs:element name="payerReceiverInternal" type="REF:XML_Reference">
		<xs:annotation>
			<xs:documentation>
				<definition>Indicate cashSettlement informations to use when
					internal company is Payer or Receiver</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inputInfo" type="GEN:XML_InputInfo">
		<xs:annotation>
			<xs:documentation>
				<definition>information on how the contract has been input (by user
					or electronic system) - One instance for Creation, Others instances
					for Modification</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inputUserIdentifier" type="GEN:XML_UserInfo">
		<xs:annotation>
			<xs:documentation>
				<definition>information on trade user input from the source
					application</definition>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
